fastapi>=0.100.0,<0.115.0
starlette<0.36.0
uvicorn>=0.22.0
pydantic>=2.0,<2.9.0
langchain>=0.1.0
qdrant-client
langfuse>=2.0.0
python-dotenv>=1.0.0
pypdf>=3.0.0
pyyaml>=6.0
langchain-text-splitters>=0.0.1
langchain-community>=0.0.1
langchain-groq
sentence-transformers
langchain-experimental
langchain-google-genai
streamlit
requests
gradio
huggingface-hub<0.25.0
deepeval
